.App {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.form {
    text-align: right;
}

input:invalid {
  background-color: #ffdddd;
}

.grid {
    stroke: #cccccc;
}

.axis {
    stroke: #000000;
}

#mmrgraph {
    cursor: grab;
}
